header { grid-area: header; }
main { grid-area: main; }
footer { grid-area: footer; }

.container{
    display: grid;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer"
}

body {
    background-color: rgb(105, 140, 140);
}

header {
    display: flex;
    justify-content: left;
    border-bottom: 10px solid #777777;
    padding-bottom: 10px;
    background: url("http://metrogiant.com/metrorestyling/ebay/listingphotos/Camo/DG/DigitalUrbanNightCamo.jpg");

}

h1 {
    font-family: 'Goudy Bookletter 1911', serif;
    color: #f7e600;
}

main {
    font-size: 17px;
}

h2 {
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 25px;
    color:orange;
    text-decoration: underline;
}

h3 {
    color: orange;
    text-decoration: underline;
    font-size: 20px;
}

.style {
    position: relative;
        
}
img {
    height: 200px;
    width: auto;
    margin: 15px 15px 15px 15px;
}

.about {
    float: right;
    height: 275px;
    width: 200px;
    border-style:solid;
    border-color: #777777;
    border-width: 2px;
    padding: 3px 3px 3px 3px;
    position: relative;
}

.elmertext {
    float: right;
    font-size: 30px;
    color: orange;
}

 .list {
     font-size: 20px;
     color: peachpuff;
     font-family: 'Acme', sans-serif;
 }
footer {
    border-top: 8px solid #777777;
    padding: 50px;
    text-align: center;
    font-size: 30px;
    background: url("http://metrogiant.com/metrorestyling/ebay/listingphotos/Camo/DG/DigitalUrbanNightCamo.jpg");
}

a:hover {
    color: orange;
}

a {
    color: #f7e600;
}

@media (max-width: 576px) {
    .container {
        grid-template-areas: 
        "header header"
        "main main"
        "footer" "footer";
    }
}